.booking-card{
    width: 70%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    margin: auto;
    margin-top: 100px;
}
.grey_p{
    color: rgb(97, 96, 96);
   
}
.every_map_div{
    display: flex;
    justify-content: space-around;
}
.every_form_div{
    text-align: justify;
    padding: 0.4rem;
}

.info_div{
    margin-top: 50px;
    width: max-content;
    height: max-content;
    font-size: large;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.media{
    display: flex;
    border: 1px solid red;
}

.black_p{
    color: black;
}

@media only screen and (max-width: 600px) {
    .every_map_div {
      display: block;
    }
    .booking_img{
        width: 300px;
    }
    .info_div{
        margin: auto;
    }
  }



